body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f5ff;
  color: #222;
  margin: 10px 0;
}

#container {
  max-width: 800px;
  width: 88%;
  margin: 0 auto;
  padding: 30px 6%;
}

img {
  width: 100%;
}

p {
    line-height: 1.5em;
    margin: 0.8em 0;
}

li {
    line-height: 1.2em;
    margin: 0.2em 0;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  color: #555;
}

code {
  color: #850;
  font-family: monospace;
}