#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    touch-action: none;
}

#legend {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}

#fps {
    margin: -2px 0 0 -6px;
    padding: 2px 6px;
    font-family: 'Consolas', monospace;
    font-size: 20px;
    color: white;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
}

#axes {
    display: block;
    pointer-events: none;
    margin-top: 5px;
    margin-left: -2px;
}

#control {
    position: fixed;
    top: 10px;
    right: 10px;
    width: min-content;
    height: min-content;
    min-width: 240px;
    max-width: 80%;
    background-color: rgba(14, 14, 101, 0.5);
    padding: 15px 20px;
    color: white;
    font-size: 0.95em;
    font-family: 'Arial';
    white-space: nowrap;
}

#error-message {
    display: inline-block;
    margin: 0.5em -0.1em;
    padding: 0.2em 0.3em;
    white-space: normal;
    margin-bottom: 0
}

#equation-input {
    width: 100%;
    height: 8em;
    min-width: 240px;
    min-height: 80px;
    resize: both;
    font-family: 'Consolas', monospace;
    font-size: 1.0em;
    margin: 0.2em 0 0;
    word-break: break-all;
}

input, select, button {
    margin: 0.1em 0.2em 0.1em 0;
    display: inline-block;
    vertical-align: middle;
}

#help-menu {
    display: block;
    position: fixed;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 800px;
    background-color: rgba(64, 32, 64, 0.9);
    padding: 20px 32px 40px 40px;
    font-family: 'Arial';
    font-size: 0.95em;
    line-height: 1.2em;
    color: white;
    overflow-y: scroll;
}

#help-menu-hide {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
}

#help-menu-hide:hover {
    text-decoration: underline;
}

#help-menu h2 {
    line-height: 1.2em;
    font-size: 1.5em;
    margin: 1.0em 0;
}

#help-menu h3 {
    font-size: 1.3em;
    margin: 1.0em 0 0.6em;
}

#help-menu p {
    font-size: 1em;
    margin: 0.6em 0;
}

a {
    text-decoration: underline;
    color: white;
}

#mathjax-preview {
    position: fixed;
    margin: 0;
    padding: 0;
    color: white;
    cursor: move;
    font-size: 1.1em;
    pointer-events: none;
    touch-action: none;
}

#mathjax-preview div {
    display: block;
    margin: 0;
    width: min-content;
    padding: 0em;
    pointer-events: all;
}

#mathjax-preview span {
    display: inline-block;
    margin: 0.3em;
    padding: 0em 0.3em;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0 0 0.35em 0.35em rgba(0, 0, 0, 0.55);
}